.heading-bite{
    font-family: Futura;
    font-style: italic;
    font-weight: 1500;
    height: 30vw;
    background-color:green;
    color: #000000;
    text-align: center;
}@media screen and (min-width: 500px){
    .heading-bite{
        font-family: Futura;   
        font-style: italic;
        font-weight: 1000;
        height: 150px;
        background-color: green;
        color: #000000;
    }
}

.aligner-bite{
    text-align: center
}